h1 {
    color:crimson;
}
h4 {
    color:#7fffd4;
}
p {
    color:#7fffd4;
}

li {
    color:#7fffd4;
}
body {/* Change the color of all links */
a {
    color: #ff4655; /* Valorant's red color */
    text-decoration: none; /* Remove underline */
}

a:visited {
    color: #bd3944; /* A darker shade of Valorant's red */
}
a:hover {
    color: midnightblue;/* Valorant's dark blue color */
}
    background-color:#0f1923;
}