body {/* Change the color of all links */
    color:#7fffd4;
tr {
    color:#000000;
}

h1 {
    color:crimson;
}

a {
    color: #ff4655;
    text-decoration: none; 
}

a:visited {
    color: #bd3944; 
}
a:hover {
    color: midnightblue;
}
    background-color:#0f1923;
}