* {
    margin: 0;
}

body {/* Change the color of all links */
    color:#7fffd4;
    background: linear-gradient(to bottom, rgb(66, 158, 66), rgb(15, 25, 35), rgb(15, 25, 35));
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center;
    background-size: cover;
    
    header {
        font-family: "consolas", sans-serif;
        text-align: center;
        
        background-color: rgb(15,25,35);
        h1 {
            font-size:60px;
            color:crimson;
            
        }
        a {
            color: #ff4655;
            text-decoration: none; 
            font-size:12px;
        }
        
        a:visited {
            color: #bd3944; 
        }
        a:hover {
            color: midnightblue;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }
        
        nav ul li {
            margin-left: 20px;
        }
        
        nav ul li:first-child {
            margin-left: 0;
        }
        
    }

    main {
        margin: 8px;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        h1 {
            font-family: "Press Start 2P", system-ui;
            font-weight:400;
            font-style:normal;
            font-size:36px;
            text-decoration: underline;
        }
        h2 {
            font-family: "Press Start 2P", system-ui;
        }
        h3 {
            font-family: "Press Start 2P", system-ui;
        }
        h4 {
            font-family: "Press Start 2P", system-ui;
        }
        p {
            border-style:inset;
            border-width: 5px;
            border-color:gold;
            border-radius:10x;
        }
        tr {
            color:#000000;
        }
    }
}